body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

h1{
  font-size: 1.4em
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.2em;
}


.website {
  width: 100%;
}

header{
  width: 1440px;
  margin: 0 auto;
}
.high-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.title-tank{
  margin-top: 53px;
}
.sub-title{
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 34px;
}
.menu-color{
  color: #0065FC;
}
.search{
  height: 45px;
  width: 230px;
  border-top: solid #F2F2F2;
}
.search-button{
  position: relative;
  left: -10px;
  cursor: pointer;
}
.search-text{
  height: 43px;
  width: 228px;
  border: solid transparent;
  font-weight: bold;
  font-size: 1.2em;
}
.search-bar{
  display: flex;
  margin-bottom: 32px;
}
.search-icon{
  display: flex;
  background-color: #F2F2F2;
  align-items: center;
  width: 52px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  justify-content: space-evenly;
  position: relative;
  left: 2px;
}
.search{
  height: 52px;
  width: 234px;
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
}
.search-button{
  background-color: #0065FC;
  color: white ;
  width: 133px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
}
a{
  text-decoration: none;
  color: #000;
}
span{
  font-weight: bold;
}
nav{
  display: flex;
  gap: 16px;
}
.logo-reservia {
  position: relative;
  top: 25px;
  width: 120px;
  height: auto;
}
.menu {
  display: flex;
}
.item {
  padding-top: 63px;
  margin-right: 60px;
  border-top: 2px solid transparent;
}
.item1{
  color: #0065FC;
  padding-top: 63px;
  margin-right: 60px;
  border-top: none;
}
.item:hover {
  color: #0065FC;
  border-top: 2px solid;
  cursor: pointer;
}
.filters-box1:hover .filters-logo{
  background-color: rgb(33, 4, 66);
  transition-delay: 1ms;
}
.filters-box2:hover .filters-logo{
  background-color: rgb(33, 4, 66);
  transition-delay: 1ms;
}
.filters-box3:hover .filters-logo{
  background-color: rgb(33, 4, 66);
  transition-delay: 1ms;
}
.filters-box4:hover .filters-logo{
  background-color: rgb(33, 4, 66);
  transition-delay: 1ms;
}
.filters-container{
  display: flex;
  gap: 25px;
  margin-bottom: 32px;
}
.filters-logo{
  height: 49px;
  width: 49px;
  border-radius: 50px;
  background-color: #DEEBFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 6px;
}
.filters-box1{
  display: flex;
  align-items: center;
  height: 49px;
  width: 190px;
  border-radius: 50px;
  border: 2px solid rgba(241, 241, 241, 0.993);
}
.filters-box2{
  display: flex;
  align-items: center;
  height: 49px;
  width: 148px;
  border-radius: 50px;
  border: 2px solid rgba(241, 241, 241, 0.993);
}
.filters-box3{
  display: flex;
  align-items: center;
  height: 49px;
  width: 180px;
  border-radius: 50px;
  border: 2px solid rgba(241, 241, 241, 0.993);
}
.filters-box4{
  display: flex;
  align-items: center;
  height: 49px;
  width: 237px;
  border-radius: 50px;
  border: 2px solid rgba(241, 241, 241, 0.993);
}
.information{
  font-weight: normal;
  font-size: 1em;
}
.information-bar{
  display: flex;
  margin-bottom: 39px;
  align-items: center;
}
.logo-information{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  border: 2px solid rgba(241, 241, 241, 0.993);
  margin-right: 11px;
}
.main-accomodation{
  width: 810px;
  height: 544px;
  background-color: rgba(241, 241, 241, 0.993);
  border-radius: 18px 18px 18px 18px;
  padding-top: 35px;
  padding-bottom: 40px;
  margin-right: 40px;
  padding-left: 35px;
  padding-right: 35px;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  width: 810px;
  justify-content: space-around;
  gap: 18px;
}
.cards-container1{
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  justify-content: space-around;
}
.marseille-accomodation {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-evenly;
  width: 100%;
}
.the-most-popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 418px;
  height: 619px;
  background-color: rgba(241, 241, 241, 0.993);
  border-radius: 18px 18px 18px 18px;
  padding-right: 35px;
  padding-left: 35px;
}
.pop{
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.most{
  margin-right: 90px;
}
.variation{
  font-size: x-large;
  padding-left: 38px;
}
.accomodation-card {
  width: 245px;
  height: 200px;
  padding: 5px;
  margin-top: 7px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(212, 211, 211);
}
.popular-card {
  width: 343px;
  height: 143px;
  padding: 5px;
  margin: 14px;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(212, 211, 211);
  display: flex;
}
.accomodation-card-image {
  width: auto;
  height: 110px;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
}
.popular-card{
  display: flex;
  width: 345px;
  height: 145px;
  align-items: center;
}
.popular-card-image{
  width: 127px;
  height: 133px;
  border-radius: 18px 0px 0px 18px;
  overflow: hidden;
}
.popular-card-informations{
  width: 200px;
  padding-bottom: 15px;
  padding-left: 15px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.image-annie {
  margin-top: -55px;
}
.image-marcus{
  margin-top: -25px;
}
.image-fred{
  margin-top: -23px;
}
.image-reisetopia{
  margin-top: -23px;
}
.image-nicate{
  margin-top: -10px;
}
.image-febrian{
  margin-top: -126px;
}
.image-large{
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.image-small{
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.accomodation-card-title {
  margin-left: 13px;
  margin-top: 9px;
  margin-bottom: 0px;
  font-size: large;
}
.accomodation-card-price {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.accomodation-note-observe{
  display: flex;
  margin-left: 13px;
  margin-top: 0px;
}
.stars-bleu{
  color: #0065FC;
}
.stars-grey{
  color:#F2F2F2;
  margin-left: 4px;
  margin-right: -5px;
}
.stars-grey1{
  color:#F2F2F2;
  margin-left: 1px;
  margin-right: -5px;
}
.marseille-activity{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  width: 1440px;
  margin-bottom: 59px;
}
.site-card{
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(212, 211, 211);
}
.site-card1{
  box-shadow: 5px 5px 10px rgb(212 211 211);
  border-radius: 20px;

}
.site-card2{
box-shadow: 5px 5px 10px rgb(212 211 211);
border-radius: 20px;
margin-top: 46px;
}
.site-card3{
  box-shadow: 5px 5px 10px rgb(212 211 211);
  border-radius: 20px;
  margin-bottom: 46px;
}
.site-card-a{
  display: flex;
  flex-wrap: wrap;
  width: 302px; 
}
.site-card-b{
  width: 302px;
  height: 179px;
}
.site-card-b-bis{
 width: 302px;
  height: 109px;
}
.site-card-image-L{
  overflow: hidden;
  height: 390px;
  width: 100%;
}
.site-card-information{
  height: 56px;
  width: 302px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.site-title{
  margin: 0px;
  padding-top: 15px;
  padding-left: 15px;
}
.activity-title{
  margin-bottom: 24px;
  margin-left: 15px;
  margin-top: 63px;
}
.activity-site1{
  height: 450px;
  width: 302px;
  border-radius: 20px;

}

main{
  width: 1440px;
  margin: 0 auto;
}
.footer{
  background-color: rgba(241, 241, 241, 0.993);
  width: 100%;
}
.footer-assist {
  display: flex;
  justify-content: space-around;
  width: 1440px;
  margin-top: 62px;
  padding-top: 28px;
  margin: 0 auto;
}
.footer-title{
  padding-left: 18px;
}
.assist {
  margin-right: 206px;
  margin-bottom: 30px;
}
.assist1{
  margin-bottom: 0px;
  margin-right: 206px;
}
.ul {
  list-style-type: none;
  padding-inline-start: 0px;
} 
li{
  margin: 20px;
}



@media screen and (max-width: 1024px){

  .website{
    width: 100%;
    overflow-x: hidden
  }

  .header{
    width: 100%;
    padding: 0 10px;
  } 
  

  .high-page{
    flex-direction: column;
    display: block;
  }

  .logo-reservia{
    align-self: flex-start;
  }
  nav{
    gap: 0;
  }
  .item:hover{
    border-top: none;
    font-weight: bold;
  }
  .menu .item{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 12px;
    border-bottom: 2px solid;
    border-top: none;
    color: rgba(241, 241, 241, 0.993);
  }
  .menu .item:hover{
    color: #0065FC;
    margin: 0px;
    padding-bottom: 12px;
   border-bottom: 2px solid; 
   flex: 1;

  }
  .item{
    text-align: center;
  }
  .item1{
    position: absolute;
    top: -15px;
    right:20px;
    margin-right: 0;
  }
  .title-tank{
    margin-top: 0;
  }
  .title{
    width: 300px;
  }
  .filters-title{
    margin: 0px;
  }
  .filters-container{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 10px;
  }
  .information-bar{
    width: 340px;
    margin-bottom: 10px;
  }
  .search-button{
    width: 60px;
    border-radius: 18px 18px 18px 18px;
    border: none;
  }

  .search-button::before{
    content: "\f002";
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: "Font Awesome 5 Free";
  }

  .search-button-text{
    display: none;
  }

  main {
    width: 100%;
  }
  
  .main-accomodation{
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 19.5px;
    margin-right: 0;
    padding-right: 0;
  }
  .the-most-popular{
    width: 375px;
    border-radius: 0%;
  }
  .marseille-accomodation{
    flex-direction: column-reverse;
  }
  .accomodation-card{
    width: 336px;
    height: 197px;
  }
  .image-annie {
    margin-top: -104px;
  }
  .image-marcus{
    margin-top: -54px;
  }
  .image-fred{
    margin-top: -59px;
  }
  .image-reisetopia{
    margin-top: -57px;
  }
  .image-nicate{
    margin-top: -40px;
  }
  .image-febrian{
    margin-top: -199px;
  }
  .cards-container{
    width: 100%;
    flex-direction: column;
    margin-left: -20px;
    align-items: center;
  }
  .marseille-accomodation{
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
  }
  .marseille-activity{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }
  .activity-title{
    margin-top: auto;
  }
  .site-card{
    width: 336px;
    height: 197px;
  }
  .site-card1{
    width: 336px;
    height: 197px;
  }
  .site-card2{
    width: 336px;
    height: 197px;
    margin-top: 23px;
  }
  .site-card3{
    width: 336px;
    height: 197px;
    margin-bottom: 23px;
  }
  .site-card-a{
    width: 100%;
    height: 133px;
  }
  .site-card-b{
    width: 100%;
    height: 133px;
  }
  .site-card-b-bis{
    width: 100%;
    height: 133px;
  }
  .site-card-image-L{
    height: 100%;
    width: 100%;
  } 
  .activity-site1{
    height: auto;
    width: auto;
  }
  .footer-assist{
    flex-direction: column;
  }
  /* fin media querie max 1024px */
}



